<app-header title="Ejercicios para aprender a conjugar verbos"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="exercise" class="exercise">

    <ion-progress-bar [value]="processPercentage"></ion-progress-bar>

    <div>
      <h1>{{lessonId}}. {{lesson.title}}:</h1><h2>Ejercicio {{exerciseId}}</h2>
    </div>

    <div class="text">
      <form [formGroup]="form">

        <ng-container *ngFor="let exercisePart of exerciseParts; let i = index">

          <span *ngIf="isString(exercisePart)" [innerHTML]="exercisePart"></span>

          <ion-item *ngIf="!isString(exercisePart)">

            <ion-input *ngIf="exercise.type === 'input'"
                       [ngClass]="{'ok': checked && !exercisePart.incorrect, 'ko': checked && exercisePart.incorrect  }"
                       appAutowidth size="1"
                       class="exercise-input"
                       [appIonAutofocus]="exercisePart.id === 'exercise0'"
                       [formControlName]="exercisePart.id"
                       (keyup.enter)="checkExercise()">
            </ion-input>

            <span *ngIf="exercise.type === 'choose'">
            <span class="exercise-choose"
                  *ngFor="let option of exercise.options" (click)="checkChoose(option)"
                  [ngClass]="{'ok': checked && option === exercisePart.answer, 'ko': checked && !allCorrect && option !== exercisePart.answer  }">
              {{option}}
            </span>
          </span>
          </ion-item>

        </ng-container>

        <app-audio class="audio" *ngIf="checked" [textToPlay]="getFullCorrectedSentence()"></app-audio>

      </form>
    </div>


    <div class="feedback" *ngIf="allCorrect === true">
      <img src="./assets/svgs/green-checkmark.svg">
      <p>¡Correcto!</p>
      <p *ngIf="feedback.accent || feedback.upper">
        <b class="ok">{{exercise.answers}}</b>
      </p>
      <p *ngIf="feedback.accent">Revisa la forma correcta, las tildes importan.</p>
      <p *ngIf="feedback.upper">Revisa la forma correcta, las mayusculas y minusculas importan.</p>
    </div>

    <div class="feedback" *ngIf="allCorrect === false">
      <img src="./assets/svgs/close-red.svg">
      <p>¡Incorrecto! La respuesta correcta es
        <b class="ok">{{exercise.answers}}</b>
      </p>
    </div>

    <ion-button *ngIf="allCorrect === false"
                color="medium"
                size="large"
                expand="block"
                (click)="presentAlert()">Revisar teoria</ion-button>


  </div>


</ion-content>

<app-footer [checked]="checked" (onCheck)="checkExercise()" (onContinue)="continue()"></app-footer>
