
ion-card-content, ion-grid{
  padding: 0;
  font-size: 1.1em;
}

ion-col{
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 11px 0 11px;
}

ion-col:first-child{
  background-color: var(--ion-color-light);
  border-right: solid 1px var(--ion-color-light-shade);
  color: var(--ion-color-medium-shade);
}

ion-col:nth-child(2n){
  justify-content: space-between;
}


