<ion-card *ngIf="tiempo && values">
  <ion-card-header color="secondary"
                   class="ion-justify-content-center ion-text-center"
                   [innerHTML]="title ? title : tiempo">
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row *ngFor="let pronoun of getPronouns(); let i = index">
        <ion-col size="6">
          {{pronoun}}
        </ion-col>

        <ion-col *ngIf="isExercise" size="6">
          <ion-input type="text" (input)="onCheck(i, $event.target.value, $event)"></ion-input>
          <ion-icon class="icon regular"></ion-icon>
        </ion-col>
        <ion-col *ngIf="!isExercise" size="6">
          <span [innerHTML]="values[i]"></span>
          <app-audio *ngIf="showAudio" [textToPlay]="values[i]"></app-audio>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
