
<ion-footer class="footer">
  <ion-grid>
    <ion-row class="ion-justify-content-between ion-text-center">
      <ion-col>
        <a [routerLink]="['/home/acerca-de']">
          <ion-icon name="information-outline"></ion-icon>
          Acerca de verbovista
        </a>
      </ion-col>
      <ion-col>
        <a [routerLink]="['/aprender-a-conjugar/crear']">
          <ion-icon name="hammer-outline"></ion-icon>
          Creador de lecciones</a>
      </ion-col>
      <ion-col>
        <a [routerLink]="['/home/contactar']">
          <ion-icon name="mail-outline"></ion-icon>
          Contactar</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
