<app-header title="Inicio"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>{{'about-us.title' | translate}}</h1>
  <p>{{'about-us.subtitle' | translate}}</p>
  <p>{{'about-us.idea' | translate}}</p>

  <p>{{'about-us.characteristics' | translate}}</p>

  <ul>
    <li>{{'about-us.ch1' | translate}}</li>
    <li>{{'about-us.ch2' | translate}}</li>
    <li>{{'about-us.ch3' | translate}}</li>
    <li>{{'about-us.ch4' | translate}}</li>
  </ul>
<!--
  <p>Lo más destacado por venir:</p>
  <ul>
    <li>Más lecciones</li>
    <li>APP para Android e IOS</li>
    <li>Coloreado de cambios vocálicos</li>
    <li>Un nuevo tipo de ejercicio</li>
    <li>Descarga de lecciones en PDF</li>
  </ul>
  -->
  <p>{{'about-us.next' | translate}}</p>
  <p innerHTML="{{'about-us.contact' | translate}}"></p>

</ion-content>

<app-web-footer></app-web-footer>
