<app-header title="Contactar"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header color="secondary">
      <ion-card-title>{{'contact.contact' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!--
      todo: subtitle
      Ayudanos a mejorar
      -->
      <form>
        <ion-item>
          <ion-label>{{'contact.name' | translate}}:</ion-label>
          <ion-input appIonAutofocus type="text" required [(ngModel)]="name" name="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Email:</ion-label>
          <ion-input type="email" required [(ngModel)]="email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-textarea required name="message" [(ngModel)]="message" placeholder="{{'contact.message' | translate}}"></ion-textarea>
        </ion-item>

        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col class="ion-text-center">
              <ion-button class="ion-text-center" type="submit">{{'contact.send' | translate}}</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </form>
    </ion-card-content>
  </ion-card>



</ion-content>
