
<ion-header *ngIf="!platform.is('mobile')">
  <ion-toolbar>

    <ion-img [routerLink]="[menuItems[0].route]" class="brandLogo ion-float-left" src="assets/logo.webp"></ion-img>
    <!--<ion-button class="ion-float-right">Login</ion-button>-->
    <div class="ion-float-right flag" *ngFor="let lang of langs">
      <img *ngIf="lang !== translate.currentLang" (click)="changeLang(lang)" class="icon clickable-icon" [src]="'assets/flags/' + lang + '.png'">
    </div>

    <div class="desktop-menu-buttons-container">
      <a [routerLink]="[item.route]"
         routerLinkActive="active"
         *ngFor="let item of menuItems">
        <ion-icon slot="start" [name]="item.icon"></ion-icon>
        <ion-label>
          {{item.name | translate}}
        </ion-label>
      </a>
    </div>



  </ion-toolbar>
</ion-header>

<ion-menu content-id="main-content" *ngIf="platform.is('mobile')">
  <ion-header>
    <ion-toolbar>
      <ion-img class="brandLogo ion-float-left" src="assets/logo.webp"></ion-img>
      <!--<ion-title>Menú</ion-title>-->
      <div class="ion-float-right flag" *ngFor="let lang of langs">
        <img *ngIf="lang !== translate.currentLang" (click)="changeLang(lang)" class="icon clickable-icon" [src]="'assets/flags/' + lang + '.png'">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false">
        <ion-item *ngFor="let item of menuItems"
                  routerLinkActive="active"
                  button
                  [routerLink]="[item.route]">
          <ion-icon routerLinkActive="active" slot="start" [name]="item.icon"></ion-icon>
          <ion-label>
            {{item.name | translate}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

  </ion-content>
</ion-menu>
