/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


// My styles:
@import "colors";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
  //--ion-background-color: #ff3700;
  --ion-font-family: 'Open Sans', sans-serif;
}

body{
  letter-spacing: 0.3px;
}

h1 {
  font-weight: 600;
}

ion-card{
  color: var(--ion-color-dark);
}

ion-card-header{
  display: flex;
  align-items: center;
  font-size: 1.4em;
  font-weight: 400;
}

ion-badge{
  padding: 8px 6px;
  letter-spacing: 1px;
  color: var(--ion-color-light);
}

ion-progress-bar{
  height: 12px;
  border-radius: 25px;
  transition-delay: 1s;
  transition: all 1.5s ease-out;
  margin-top: 16px;
}

ion-item {
  --highlight-color-invalid: var(--ion-color-danger); // invalid underline color
  --highlight-color-valid: var(--ion-color-primary); // valid underline color
}

.ok{
  background-color: var(--ion-color-success);
  color: white;
  border-color: var(--ion-color-success-shade) !important;
  border-radius: 3px;
}

.ko{
  background-color: var(--ion-color-danger);
  color: white;
  border-color: var(--ion-color-danger-shade) !important;
  border-radius: 3px;
}

.regular{
  color: var(--ion-color-success-shade);
}

.irregular{
  color: var(--ion-color-warning);
}

.clickable-icon{
  cursor: pointer;
  font-size: 1.2em;
  min-width: 21px;
  padding-left: 3px;
  vertical-align: sub;
}

.clickable-icon:hover{
  color: var(--ion-color-medium-shade);
}

/*Table versión for lessons and exercises: */
.conjugation-table{
  @extend ion-card;
  margin: auto;
  font-size: 1.1em;
  --background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
  --color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-550, #737373)));
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.conjugation-table tr{
  height: 70px;
}

.conjugation-table td span{
  color: var(--ion-color-medium)
}

.conjugation-table td:first-child{
  background-color: var(--ion-color-light);
  border-right: solid 1px var(--ion-color-light-shade);
  color: var(--ion-color-medium-shade);
  padding: 0 11px 0 11px;
}
.conjugation-table td:nth-child(2n){
  justify-content: space-between;
  padding: 0 11px 0 11px;
}

.exercise .native-input[disabled]{
  opacity: 1;
}

.sc-ion-alert-md-h{
  --max-width: 98%;
}
.alert-message.sc-ion-alert-md {
  max-height: 440px;
}

.home h2 b{
  color: var(--ion-color-tertiary-shade);
}

.onlyEn{
  display: none;
}

.grey{
  color: var(--ion-color-medium)
}

// hide printable area
.only-print{
  display: none;
}

// printable styles:
@media print{

  :root *{
    max-height: unset !important;
    contain: none;
    position: relative !important;
    width: auto !important;
    height: auto !important;
    overflow: visible !important;
  }

  ion-content, ion-button, :root head, :root script, .noPrintable{
    display: none !important;
  }

  .only-print ion-col{
    min-height: 70px !important;
    padding: 0 11px 0 11px !important;
  }

  .only-print{
    display: block !important;
  }

  @page {
    size: A4;
  }

  .only-print ion-card{
    break-inside: avoid;
  }
}
